.container{
    height: 100%;
    background-color: white;
}
.firstWrapper{
    height: calc(25% / 3);
}



.targetUserContainer {

    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    background-color: #EAEAEA;
    height: 100%;

    .targetUserLeftS {
        width: 50%;
        display: flex;
        align-items: center;

        img {
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }

        span {
            margin-left: 10px;
        }
    }

    .targetUserRightS {
        width: 50%;
        text-align: end;

        i {
            margin: 0 8px;
            color: #B1B1B1;
        }
    }
}

.chatContainer{
    height: calc( 95% - 25% / 3);
    background-image: url('/assets/mine.jpg');
    background-size: cover;
    padding: 2rem;
    overflow: auto;

    .start{
        justify-content: flex-start;
    }
    .end{
        justify-content: flex-end;
    }

    .chatWrapper{
        min-height: 50px;
        width: 100%;
        display: flex;
    }

    .chatBox{
        display: flex;
        align-items: center;

        width: 300px;
        min-height: 50px;
        background-color: #D5F9BA ;
        border-radius: 5px;
        padding: 0 1rem;
        margin-bottom: 1rem;
    }
}

.sendMessageContainer{
    height: 5%;
    background-color: #d6cdcd;
    display: flex;

    .iconContainer{
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;

        i{
            cursor: pointer;
            color: #6E7980;
        }
    }

    .inputContainer{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;

        input{
            width: 100%;
            padding: 8px; 
            margin: 10px; 
            border: 1px solid #ddd; 
            border-radius: 5px; 
        }
    }
}