<div class="container">
    <div class="firstWrapper">

        <div class="myUserContainer">

            <div class="myUserLeftS">
                <img src={{myUser.avatar}} alt="my-user img"/>
                <span>{{myUser.name}}</span>
            </div>
            <div class="myUserRightS">
                <i class="fa-solid fa-circle-notch"></i>
                <i class="fa-solid fa-message"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
        </div>


        <div class="alertBox">

            <div class="alertBoxLeft">
                <div class="iconBackg">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
            </div>
            <div class="alertBoxRight">
                <p>Ricevi notifiche di nuovi messaggi</p>
                <p style="text-decoration: underline;">Attiva notifiche Desktop</p>
            </div>
        </div>

        <div class="searchWrapper">

            <div class="searchBox">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder="Cerca o inizia una nuova chat">
            </div>
        </div>

    </div>


    <div class="secondWrapper">
        <app-card *ngFor="let user of userList" [user]="user" (click)="gestioneClick(user)"></app-card>
    </div>

</div>